<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womanskills">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoa"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomanSkills">
        <activity android:name=".ProfileDetail"></activity>
        <activity android:name=".AdminMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProducts"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".AccountProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ChooseSkillActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SetSkillActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>